* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.desktop {
    margin: 0 auto;
    max-width: 1200px;
}

.px1 {
    padding: 0 1em;
}

.py1 {
    padding: 1em 0;
}

.upperCase {
    text-transform: uppercase;
}

/* NAV BAR */
header {
    padding: 0 4em;
    display: flex;
    align-items: center;
    height: 10vh;
    margin: 0 auto;
    max-width: 1200px;
}

.logo {
    width: 100%;
}

.logo a {
    display: inline-block;
}

img {
    width: 7vh;
}

li {
    display: inline;
    padding: 1em;
}

li a {
    color: #1C1C1C;
    text-decoration: none;
}

li a:hover {
    color: #0082f9;
}

ul {
    display: flex;
}

.borderBottom {
    display: flex;
    height: 7.2em;
    align-items: center;
}

.borderBottom:hover {
    border-bottom: 4px solid #0082f9;
}